
<div class="row">

  <div class="col-md-8 main-panel">
    <form [formGroup]='form'>
      <p class="my-2">ng-select with virtual scroll and server side searching using typehead. </p>
      <p >Select Contry Object: </p>
      <ng-select [items]="contriesList"
          (change)="onSelect($event)" 
          [clearable]="false"
          bindLabel="name" 
          formControlName="contry"
          (open)="loadContries()"
          (scrollToEnd)="loadContries()" 
          [loading]="isLoading"
          [typeahead]="search$" 
          placeholder="Select a Country"
          class="w-75">
      </ng-select>
      <p>Selected : {{this.form.getRawValue().contry | json}}</p>

    </form>

  </div>

  <div class="col-md-4 info-panel bg-light p-0">
    <p class="m-2">Key Points</p>
    <ul>
      <li class="text-primary mb-1">Use [typehead] to define observable. Use that observable to get search string and make api call.
      <li class="text-primary mb-1">Use event (scrollToEnd) to detect end of scroll and make api call.
      <li class="text-primary mb-1">Use [loading] to provide loading status
    </ul>
  </div>

</div>